<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  {% include before.html %}
  <main>
  <article>
    <p class="todays-date">{{ site.time | date_to_long_string: "ordinal", "US" }}</p>
    {% include header.html %}
    {{ content }}
    {% if page.layout != 'index' %}
    <section>
      <p class="signoff"><em><a href="{{ site.baseurl }}/">Return home</a></em></p>
    </section>
    {% endif %}
  </article>
  </main>
  <aside>
    {% include aside.html %}
  </aside>
  {% include after.html %}
  {% include math.html %}
</body>
</html>
